/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.num1{
  width:307px;
  height: 300px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
}
.num2{
  width: 100px;
  height: 100px;
  /* background-color: black; */
  border: 1px solid black;
}
.jil1,.jil2{
  width: 40px;
  height: 40px;
  /* display: none; */

}

.jil{
  display: none;
  z-index: 2;
}
.num2:hover .jil{
  display: block;
}
.hub{
  width: 50px;
  height: 50px;
  /* display: none; */
}